{
    layer4 {
        :16969 {
            @postgres postgres
            route @postgres {
                proxy host.docker.internal:5432
            }
        }
        :13306 {
            route {
                proxy {
                    upstream host.docker.internal:3307
                }
            }
        }
    }
}